.music-container{
    width: 100%;
    height: 630px;
    background-color: #0B212F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.music-app{
    width: 300px;
    height: 470px;
    border-radius: 20px;
    padding: 5px;
    padding-top: 10px;
    border: 1px solid black;
    background-color: #1363DF;
    margin-top: 20px;
}
nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.circle{
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#DFF6FF;
}

.circle i{
     font-size: 24px;
     color: #000000;
}
.circle:hover{
    animation: bigger 0.5s ease-in-out ;
}

.photo-container{
   display: flex;
   justify-content: center;
   margin-bottom: 14px;
}
.photo-container img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 60px 25px rgb(231, 4, 231); 
     
}
.photo-container img:hover{
    transform: scale(1.3);
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }tp{
        transform:rotate(180deg);
    }
}
.photo-container img:hover{
    animation: bigger 0.3s ease-in-out;
}

.title-container{
    display: flex;
    justify-content: center;
    margin-top: 19px;
}
.title{
    line-height: 0px;
    user-select: none;
}
.title h4{
    
    font-size: 17px;
}
.title p{
    font-size: 17px;
    font-style: italic;
}
.progress {
    display: flex;
    justify-content: center;
}
.progress  input{
    width: 90%;
}
.controller{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.cc{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;

}

.fa-arrow-left,.fa-arrow-right{
    margin-left: 9px;
    margin-top: 9px;
}

.fa-play,.fa-pause{
    margin-left: 16px;
    margin-top: 10px;
}

.left,.right{
    font-size: 25px;
    background-color:#DFF6FF;
}

.pause,.play{
    font-size: 33px;
    width: 55px;
    height: 55px;
    margin-top: -7px;
    background-color:#DFF6FF;
}
.pause{
    display: none;
}

.play:hover,.pause:hover,.left:hover,.right:hover{
    box-shadow: 8px 8px 50px 32px rgb(253, 0, 147);
    animation: bigger 0.3s ease-in;
}

@keyframes bigger {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

.notShow{
    background-color: grey;
    color: rgb(255, 255, 255);
    cursor:not-allowed;
    animation: none;
}